# 0.0 IMPORTS

In [5]:
import pandas as pd

In [2]:
df5 = pd.read_csv('./kc_house_data.csv')

# Respondendo as novas perguntas do CEO

1. Qual a quantidade de imóveis por nível?
- Nível 0 -> Preço entre R 0 e R 321.950
- Nível 1 -> Preço entre R 321.950 e R 450.000
- Nível 2 -> Preço entre R 450.000 e R 645.000
- Nível 3 -> Acima de R 645.000

In [3]:
df5['nivel'] = 'NA'

In [4]:
df5.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,nivel
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,NA
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,NA
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,NA
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,NA
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,NA

In [5]:
for i in range (len(df5)):
    if df5.loc[i,'price']<= 321950:
        df5.loc[i,'nivel'] = 0
        
    elif (df5.loc[i,'price']> 321950) & (df5.loc[i,'price']<= 450000):
        df5.loc[i,'nivel'] = 1
    
    elif (df5.loc[i,'price']>450000) & (df5.loc[i,'price']<= 645000):
        df5.loc[i,'nivel'] = 2
        
    else:
        df5.loc[i,'nivel'] = 3

In [6]:
df5.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,nivel
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,2
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,2
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2

In [7]:
df5[['nivel','id']].groupby('nivel').sample()

      nivel          id
18786     0  8075400360
5871      1  9828701650
10531     2  3904920390
19803     3  7852090390

2. Adicione as seguintes informações ao imóvel:
- O nome da Rua
- O número do Imóvel
- O nome do Bairro
- O nome da Cidade
- O nome da Estado

In [28]:
#achar uma biblioteca que coloque as codernados no mapa

#library of maps
from geopy.geocoders import Nominatim

#initialize Nominatim APi

geolocator = Nominatim(user_agent ='geoapiExercises') #porteiro

#guardando a latitude e longitude para acessar o endereço no mapa
response=geolocator.reverse('47.5112 ,-122.257')

#acessando os dados da linha
response.raw

GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=47.5112&lon=-122.257&format=json&addressdetails=1 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7fa411af5400>: Failed to establish a new connection: [Errno -2] Name or service not known'))

In [10]:
print(response.raw['address']['road'])
print(response.raw['address']['neighbourhood'])
print(response.raw['address']['city'])
print(response.raw['address']['state'])
print(response.raw['address']['country'])

61st Avenue South
Rainier Beach
Seattle
Washington
United States

In [6]:
from geopy.geocoders import Nominatim

data = pd.read_csv('./kc_house_data.csv')
data = data.head()


#create empyt columns

data['road']= 'NA'
data['neighbourhood'] = 'NA'
data['city'] = 'NA'
data['state'] = 'Na'
data['country']= 'NA'
data['house_number'] = 'NA'

geolocator = Nominatim(user_agent ='geoapiExercises') #porteiro



for i in range( len( data ) ):
    
    query = str(data.loc[i,'lat']) + ',' + str(data.loc[i,'long']) #somando lat e long para achar endereço
    
    response = geolocator.reverse(query) #achando o endereço do imóvel
    
    if 'house_number' in response.raw['address']:
        data.loc[i,'house_number'] = response.raw['address']['house_number']
        
    if 'neighbourhood'in response.raw['address']:
        data.loc[i,'neighbourhood'] = response.raw['address']['neighbourhood']
        
    if 'city' in response.raw['address']:
        data.loc[i,'city'] = response.raw['address']['city']
        
    if 'state' in response.raw['address']:
        data.loc[i,'state'] = response.raw['address']['state']
    
    if 'country'in response.raw['address']:
        data.loc[i,'country'] = response.raw['address']['country']
    
    if 'road' in response.raw['address']:
        data.loc[i,'road'] = response.raw['address']['road']

In [7]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,lat,long,sqft_living15,sqft_lot15,road,neighbourhood,city,state,country,house_number
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,47.5112,-122.257,1340,5650,61st Avenue South,Rainier Beach,Seattle,Washington,United States,10012
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,47.7210,-122.319,1690,7639,Northeast 127th Street,NA,Seattle,Washington,United States,837
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,47.7379,-122.233,2720,8062,81st Avenue Northeast,NA,NA,Washington,United States,15109
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,47.5208,-122.393,1360,5000,Fauntleroy Way Southwest,NA,Seattle,Washington,United States,9236
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,47.6168,-122.045,1800,7503,221st Avenue Northeast,NA,NA,Washington,United States,923

Qual a quantidade de imóveis por nível?
Nível 0 -> Preço entre R 0 e R 321.950
Nível 1 -> Preço entre R 321.950 e R 450.000
Nível 2 -> Preço entre R 450.000 e R 645.000
Nível 3 -> Acima de R 645.000

In [ ]:
if df5.loc[i,'price']<= 321950:
        df5.loc[i,'nivel'] = 0

In [10]:

data['level'] = 'NA'

In [21]:
#define level

houses = data[['lat','long','price','id']].copy()

for i in range(len(houses)):
    
    if houses.loc[i,'price']<= 321950:
        houses.loc[i,'level'] = 0
    
    elif (houses.loc[i, 'price']> 321950) & (houses.loc[i,'price']<= 450000):
        houses.loc[i,'level'] = 1
    
    elif (houses.loc[i,'price']> 450000) & (houses.loc[i,'price']<=645000):
        houses.loc[i,'level'] = 2
        
    else:
        houses.loc[i,'level'] = 3
        
#transformando número inteiros       
houses['level'] = houses['level'].astype(int)

In [22]:
#montando o mapa

fig = px.scatter_mapbox(houses,
                lat = 'lat',
                lon = 'long',
                 color = 'level',
                 size = 'price')

<bound method NDFrame.astype of 0    0
1    2
2    0
3    2
4    2
Name: level, dtype: int64>