1. Qual a mÃ©dia do preÃ§o de compra dos
imÃ³veis por â€œNÃ­velâ€?
- NÃ­vel 0 -> PreÃ§o entre R$ 0 e R$
321.950
- NÃ­vel 1 -> PreÃ§o entre R$ 321.950 e
R$ 450.000
- NÃ­vel 2 -> PreÃ§o entre R$ 450.000 e
R$ 645.000
- NÃ­vel 3 -> Acima de R$ 645.000

2. Qual a mÃ©dia do tamanho da sala de
estar dos imÃ³veis por â€œSizeâ€ ?
- Size 0 -> Tamanho entre 0 e 1427
sqft
- Size 1 -> Tamanho entre 1427 e 1910 sqft
- Size 2 -> Tamanho entre 1910 e
2550 sqft
- Size 3 -> Tamanho acima de 2550
sqft

3. Adicione as seguinte informaÃ§Ãµes ao
conjunto de dados original:
- Place ID: IdentificaÃ§Ã£o da
localizaÃ§Ã£o
- OSM Type: Open Street Map type
- Country: Nome do PaÃ­s
- Country Code: CÃ³digo do PaÃ­s

4. Adicione os seguinte filtros no Mapa:
- Tamanho mÃ­nimo da Ã¡rea da sala
de estar.
- NÃºmero mÃ­nimo de banheiros.
- Valor MÃ¡ximo do PreÃ§o.
- Tamanho mÃ¡ximo da Ã¡rea do
porÃ£o.
- Filtro das CondiÃ§Ãµes do ImÃ³vel.
- Filtro por Ano de ConstruÃ§Ã£o.

5. Adicione os seguinte filtros no
Dashboard:

- Filtro por data disponÃ­vel para
compra.
- Filtro por ano de renovaÃ§Ã£o.
- Filtro se possui vista para a Ã¡gua
ou nÃ£o.

In [1]:
import pandas as pd

Qual a mÃ©dia do preÃ§o de compra dos imÃ³veis por â€œNÃ­velâ€?
NÃ­vel 0 -> PreÃ§o entre R 0ð‘’ð‘… 
321.950

NÃ­vel 1 -> PreÃ§o entre R 321.950ð‘’ð‘…  450.000
NÃ­vel 2 -> PreÃ§o entre R 450.000ð‘’ð‘…  645.000
NÃ­vel 3 -> Acima de R$ 645.000

In [3]:
df = pd.read_csv('./kc_house_data.csv')

In [9]:
df.sample()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
9129,5700002510,20140611T000000,1085000.0,5,2.5,2340,6000,2.0,0,0,...,10,2340,0,1922,0,98144,47.5764,-122.287,2350,6000

In [10]:
df['nivel'] = df['price'].apply(lambda x: 0 if x< 321950 else 1 if (x>= 321950) & (x< 450000) else 
                                2 if (x>= 450000) & (x<645000) else 3)

In [20]:
df[['nivel','price']].groupby('nivel').mean().reset_index(drop=True)

           price
0  251544.621507
1  383585.205332
2  536164.422840
3  985008.983189

Qual a mÃ©dia do tamanho da sala de estar dos imÃ³veis por â€œSizeâ€ ?
Size 0 -> Tamanho entre 0 e 1427 sqft
Size 1 -> Tamanho entre 1427 e 1910 sqft
Size 2 -> Tamanho entre 1910 e 2550 sqft
Size 3 -> Tamanho acima de 2550 sqft

In [32]:
df['size'] = df['sqft_living'].apply(lambda x: 0 if x< 1427 else 1 if (x>= 1427) & (x< 1910) else
                                    2 if (x>= 1910) & (x< 2550) else 3)


df[['size','sqft_living']].groupby('size').mean().reset_index(drop=True)

   sqft_living
0  1123.776421
1  1661.198088
2  2202.700239
3  3318.988404

Adicione as seguinte informaÃ§Ãµes ao conjunto de dados original:
Place ID: IdentificaÃ§Ã£o da localizaÃ§Ã£o
OSM Type: Open Street Map type
Country: Nome do PaÃ­s
Country Code: CÃ³digo do PaÃ­s

In [87]:
#achar uma bibiotca que ache essas informaÃ§Ãµes: No caso o geopy
from geopy.geocoders import Nominatim

#inicializando a requisiÃ§Ã£o API

df['place'] = 'NA'
df['osm_type'] = 'NA'
df['country'] = 'NA'
df['code'] = 'NA'

geolocator = Nominatim(user_agent= 'geoapiExercises')


for i in range(len(df)):
    query = str(df.loc[i,'lat']) + ',' + str(df.loc[i,'long'])
    
    response = geolocator.reverse(query)
    
    if 'place_id' in response.raw['place_id']:
        df.loc[i,'place']= str(response.raw['place_id']) ['place']

TypeError: argument of type 'int' is not iterable

In [85]:
response.raw

{'place_id': 159597608, 'licence': 'Data Â© OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 236673600, 'lat': '47.5112302', 'lon': '-122.25676111324441', 'display_name': '10012, 61st Avenue South, Rainier Beach, Seattle, King County, Washington, 98178, United States', 'address': {'house_number': '10012', 'road': '61st Avenue South', 'neighbourhood': 'Rainier Beach', 'city': 'Seattle', 'county': 'King County', 'state': 'Washington', 'postcode': '98178', 'country': 'United States', 'country_code': 'us'}, 'boundingbox': ['47.511189', '47.5112943', '-122.2568571', '-122.2566651']}