# 0.0 QUESTIONS OF CEO

1. Quantas casas estão dísponíveis para venda?

2. Quantos atributos as casas posuem?

3. Quais são os atributos da casa?

4. Qual a casa mais cara? (Casa com maior valor de venda)

5. Qual é maior casa com maior número de quartos?

6. Qual é soma total de quartos do conjunto de dados?

7. Quantas casas possuem 2 banheiros?

8. Qual é o preço médio dos conjunto de dados?

9. Qual é o preço médio de casas com 2 banheiros?

10. Qual é preço mínimo entre as casas com 3 quartos?

# 0.1 IMPORTS

In [1]:
import pandas as pd

# 0.1 HELP FUNCTIONS

# 0.2 LOARDING DATE

In [67]:
df1= pd.read_csv('./kc_house_data.csv')

# 1.0 DESCRITION DATE

In [68]:
df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

# 1.1 DATE DIMENSION

In [69]:
print('Number of Rows {}'.format(df1.shape[0]))
print('Number of Columns {}'.format(df1.shape[1]))

Number of Rows 21613
Number of Columns 21

# 1.2 DATE TYPE

In [70]:
df1['date']= pd.to_datetime(df1['date'])

# 1.3 Check NA

In [71]:
df1.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

# 1.5  Fillout NA

In [72]:
df1.sample(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
5859,4348800080,2014-07-11,641200.0,3,1.0,1060,9123,1.0,0,0,...,7,1060,0,1952,0,98004,47.6218,-122.193,1620,9121

# RESPONSE QUESTION  CEO

### Quantas casas estão dísponíveis para venda?

In [73]:
df1.shape[0]

21613

### Quantos atributos as casas posuem?

In [74]:
df1.shape[1]

21

### Quais são os atributos das casas?

In [75]:
df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### Qual a casa mais cara? (Casa com maior valor de venda)

In [76]:
print('The house with price expense has value R${}'.format(df1['price'].max()))
      #rint('Number of Columns {}'.format(df1.shape[1]))

The house with price expense has value R$7700000.0

### Qual é maior casa com maior número de quartos?

In [77]:
df1[['bedrooms','price']].max()

bedrooms         33.0
price       7700000.0
dtype: float64

### Qual é soma total de quartos do conjunto de dados?

In [78]:
print('The sum of bedroms in date is {}.'.format(df1['bedrooms'].sum()))

The sum of bedroms in date is 72854.

### Quantas casas possuem 2 banheiros?

In [88]:
df1['bathrooms'].value_counts()

2.50    5380
1.00    3852
1.75    3048
2.25    2047
2.00    1930
1.50    1446
2.75    1185
3.00     753
3.50     731
3.25     589
3.75     155
4.00     136
4.50     100
4.25      79
0.75      72
4.75      23
5.00      21
5.25      13
0.00      10
5.50      10
1.25       9
6.00       6
0.50       4
5.75       4
6.75       2
8.00       2
6.25       2
6.50       2
7.50       1
7.75       1
Name: bathrooms, dtype: int64