# 0.0 QUESTIONS OF CEO

1. Quantas casas estão dísponíveis para venda?

2. Quantos atributos as casas posuem?

3. Quais são os atributos da casa?

4. Qual a casa mais cara? (Casa com maior valor de venda)

5. Qual é maior casa com maior número de quartos?

6. Qual é soma total de quartos do conjunto de dados?

7. Quantas casas possuem 2 banheiros?

8. Qual é o preço médio dos conjunto de dados?

9. Qual é o preço médio de casas com 2 banheiros?

10. Qual é preço mínimo entre as casas com 3 quartos?
         
11. Quantas casas possuem mais de 300M2 na sala de estar?

12. Quantas casas tem mais de 2 andares?

13. Quantas casas tem vista para o mar?

14. Das casas com vista para o mar, quantas casas tem mais de 3 quartos?

15. Das casas com mais de 300M2 de sala de estar, quantas banheiros tem?

# 0.1 IMPORTS

In [1]:
import pandas as pd

# 0.1 HELP FUNCTIONS

# 0.2 LOARDING DATE

In [2]:
df1= pd.read_csv('./kc_house_data.csv')

# 1.0 DESCRITION DATE

In [3]:
df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

# 1.1 DATE DIMENSION

In [4]:
print('Number of Rows {}'.format(df1.shape[0]))
print('Number of Columns {}'.format(df1.shape[1]))

Number of Rows 21613
Number of Columns 21

# 1.2 DATE TYPE

In [5]:
df1['date']= pd.to_datetime(df1['date'])

# 1.3 Check NA

In [6]:
df1.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

# 1.5  Fillout NA

In [7]:
df1.sample(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
10433,5364200695,2015-03-17,1084500.0,4,2.75,2640,5000,2.0,0,0,...,9,1840,800,1943,2004,98105,47.6619,-122.275,2010,5000

# RESPONSE QUESTION  CEO

### Quantas casas estão dísponíveis para venda?

In [8]:
df1.shape[0]

21613

### Quantos atributos as casas posuem?

In [9]:
df1.shape[1]

21

### Quais são os atributos das casas?

In [10]:
df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### Qual a casa mais cara? (Casa com maior valor de venda)

In [11]:
print('The house with price expense has value R${}'.format(df1['price'].max()))
      #rint('Number of Columns {}'.format(df1.shape[1]))

The house with price expense has value R$7700000.0

### Qual é maior casa com maior número de quartos?

In [12]:
df1[['bedrooms','price']].max()

bedrooms         33.0
price       7700000.0
dtype: float64

### Qual é soma total de quartos do conjunto de dados?

In [13]:
print('The sum of bedroms in date is {}.'.format(df1['bedrooms'].sum()))

The sum of bedroms in date is 72854.

### Quantas casas possuem 2 banheiros?

In [31]:
df1['bathrooms'].loc[df1['bathrooms']==2].sum()

3860.0

### Qual é o preço médio dos conjunto de dados?

In [49]:
print('The mean price of houses is R$ {}'.format(df1['price'].mean()))

The mean price of houses is R$ 540088.1417665294

### Qual é o preço médio de casas com 2 banheiros?

In [57]:
df1['price'].loc[df1['bathrooms']==2].mean()

457889.7186528497


### Qual é preço mínimo entre as casas com 3 quartos?

In [56]:
df1['price'].loc[df1['bedrooms']==3].min()

82000.0

### Quantas casas possuem mais de 300M2 na sala de estar?

In [64]:
df1['sqft_living'].loc[df1['sqft_living']>300].sum()

44952583

In [65]:
df1['sqft_lot'].head()

0     5650
1     7242
2    10000
3     5000
4     8080
Name: sqft_lot, dtype: int64