# 0.0 QUESTIONS OF CEO

###### 1. Quantas casas estão dísponíveis para venda?

2. Quantos atributos as casas posuem?

3. Quais são os atributos da casa?

4. Qual a casa mais cara? (Casa com maior valor de venda)

5. Qual é maior casa com maior número de quartos?

6. Qual é soma total de quartos do conjunto de dados?

7. Quantas casas possuem 2 banheiros?

8. Qual é o preço médio dos conjunto de dados?

9. Qual é o preço médio de casas com 2 banheiros?

10. Qual é preço mínimo entre as casas com 3 quartos?
         
11. Quantas casas possuem mais de 300M2 na sala de estar?

12. Quantas casas tem mais de 2 andares?

13. Quantas casas tem vista para o mar?

14. Das casas com vista para o mar, quantas casas tem mais de 3 quartos?

15. Das casas com mais de 300M2 de sala de estar, quantas banheiros tem?

# 0.1 IMPORTS

In [1]:
import pandas as pd

# 0.1 HELP FUNCTIONS

# 0.2 LOARDING DATE

In [2]:
df1= pd.read_csv('./kc_house_data.csv')

# 1.0 DESCRITION DATE

In [3]:
df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

# 1.1 DATE DIMENSION

In [4]:
print('Number of Rows {}'.format(df1.shape[0]))
print('Number of Columns {}'.format(df1.shape[1]))

Number of Rows 21613
Number of Columns 21

# 1.2 DATE TYPE

In [5]:
df1['date']= pd.to_datetime(df1['date'])

# 1.3 Check NA

In [6]:
df1.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

# 1.5  Fillout NA

In [7]:
df1.sample(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
19361,3992700475,2014-11-11,450000.0,3,1.75,1350,7200,1.0,0,0,...,7,1350,0,1954,0,98125,47.713,-122.284,1100,7200

# RESPONSE QUESTION  CEO

### 1. Quantas casas estão dísponíveis para venda?

In [61]:
# Estrategy: 
# 1.selecionar coluna de referência das
# 2.Contar a quantidade de casas

houses= len(df1['id'].unique())

print('O número de casas disponível para vendas são {}'.format(houses))

O número de casas disponível para vendas são 21436

###  2. Quantos atributos as casas posuem?

In [70]:
# As colunas id e date não são considerados neste notebook como atributos.

len(df1.drop(['id','date'],axis=1).columns)

19

### 3. Quais são os atributos das casas?

In [82]:
df1.drop(['id','date'],axis=1).columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 4. Qual a casa mais cara? (Casa com maior valor de venda)

In [114]:
## tenho que selecionar a referência da casa ('id') e selecionar coluna preço ('price')
# depois tenho que ordenar os valores do maior para o menor
# resertar as colunas para criar novos nomes nas linhas (reset_idex)
# filtrar achar o código(nome) da casa mais cara.

df1[['id','price']].sort_values('price',ascending=False).reset_index(drop=True).loc[0,'id']

6762700020

### 5. Qual é maior casa com maior número de quartos?

In [12]:
df1[['bedrooms','price']].max()

bedrooms         33.0
price       7700000.0
dtype: float64

### 6. Qual é soma total de quartos do conjunto de dados?

In [13]:
print('The sum of bedroms in date is {}.'.format(df1['bedrooms'].sum()))

The sum of bedroms in date is 72854.

### 7. Quantas casas possuem 2 banheiros?

In [14]:
df1['bathrooms'].loc[df1['bathrooms']==2].sum()

3860.0

### 8. Qual é o preço médio dos conjunto de dados?

In [15]:
print('The mean price of houses is R$ {}'.format(df1['price'].mean()))

The mean price of houses is R$ 540088.1417665294

### 9. Qual é o preço médio de casas com 2 banheiros?

In [16]:
df1['price'].loc[df1['bathrooms']==2].mean()

457889.7186528497


### 10. Qual é preço mínimo entre as casas com 3 quartos?

In [17]:
df1['price'].loc[df1['bedrooms']==3].min()

82000.0

### 11. Quantas casas possuem mais de 300M2 na sala de estar?

In [18]:
df1['sqft_living'].loc[df1['sqft_living']>300].sum()

44952583

###### 12. Quantas casas tem mais de 2 andares?

In [24]:
df1['floors'].loc[df1['floors']>2].sum()

2269.5

### 13. Quantas casas tem vista para o mar?

In [51]:
len(df1['waterfront'].loc[df1['waterfront']])

21613

### 14. Das casas com vista para o mar, quantas casas tem mais de 3 quartos?

Conforme respondido da pergunta 13 deste notebook, não há casas com vistas para o mar.


### 15. Das casas com mais de 300M2 de sala de estar, quantas banheiros tem?

In [49]:
len(df1['bathrooms'].loc[df1['sqft_living']>300])

21612