# 0.0 NOVAS PERGUNTAS DO CEO

1. Crie uma nova coluna chamada "house_age"
    - se o valor da coluna "date" for maior que 2014-01-01 = 'new_house'
    - se o valor da coluna "date" for menor que 2014-01-01 = 'old_house'
    
2. Crie uma coluna chamada 'dormitory_type
    - se o valor valor da coluna 'bedrooms' for igual à 1= 'studio'
    - se o valor valor da coluna 'bedrooms' for igual à 2= 'apartament'
    - se o valor valor da coluna 'bedrooms' for maior do que 2= 'house'
 
3. Crie uma nova coluna chamada "condition_type"
    - se o valor da coluna 'condition' for menor ou igual à 2 = 'bad'
    - se o valor da coluna 'condition' for igual à 3 ou 4 = 'regular'
    - se o valor da coluna 'condition' igual à 5 = 'good'

4. Modifique o tipo a coluna 'condition' para string

5. Delete a coluna "sqft_living15' e 'sqft_lot15'

6. Modifique o tipo a coluna 'yr_build' para date

7. Modifiqu o tipo a coluna 'yr_renovated' para date

8. Qual é data mais antiga da construção do imóvel?

9. Qual é data mais antiga da renovação de um imóvel?

10. Quantos imóveis tem 2 andares?

11. Quantos imóveis estão com a condição igual à 'regular'?

12. Quantos imóveis estão com condição igual à 'bad' e tem "vista para água"?

13. Quantos imóveis estão com condição igual á 'good' e são 'new_house'?

14. Qual é o valor do imóvel do tipo 'studio'?

15. Quantos imóveis do tipo 'apartament' foram reformados em 2015?

16. Qual é o mair número de quartos de um imóvel do tipo 'house' possui?

17. Quantos imóveis 'new_house' foram reformados em 2014?

18. Selecione as colunas 'id', 'date','price','floors','zipcode', pelo método:
    - Direto pelo nomes das colunas;
    - Pelos índices;
    - Pelos índices das linhas e nomes da colunas;
    - Índices Booleanos.

19. Salve um arquivo .csv somente com as colunas do item 10. 

20. Modifique a cor dos pontos do mapa de 'pink' para 'verde-escurto'

# 0.1 IMPORT

In [1]:
import pandas as pd

# 0.1 CARREGANDO O ARQUIVO

In [2]:
df= pd.read_csv('./kc_house_data.csv')

# Tipos das colunas

In [3]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [4]:
# transformado os tipos de váriaveis

In [5]:
df['date']= pd.to_datetime(df['date'])

In [6]:
df.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

## 1. Crie uma nova coluna chamada "house_age"
     - se o valor da coluna "date" for maior que 2014-01-01 = 'new_house'
    - se o valor da coluna "date" for menor que 2014-01-01 = 'old_house'

In [18]:
# criar uma nova coluna
# fazer um filtro para coluna date
# fazer uma condição boleana para as data

#usando a função lambada x

#df['house_age'] = 'age'

df['house_age']= df['date'].apply(lambda x: 'new_house' if x>= pd.to_datetime('2014-01-01') else 'old_house')

#usando fitro (mas deveria ter transformando 2014 em datetime)

#df.loc[df['date']>'2014-01-01','house_age']= 'new_house'

#df.loc[df['date']< '2014-01-01','house_age']=' old_house'

## 2. Crie uma coluna chamada 'dormitory_type

se o valor valor da coluna 'bedrooms' for igual à 1= 'studio'
se o valor valor da coluna 'bedrooms' for igual à 2= 'apartament'
se o valor valor da coluna 'bedrooms' for maior do que 2= 'house'

In [13]:
###### criar uma coluna chamada 'dormitory_type'
# fazer um filtro com a coluna 'bedrooms'
# fazer uma condição boleana para as condições para classificar o tipo do imóvel

df['dormitory_type'] = 'type'

df['dormitory_type']= df['bedrooms'].apply(lambda x: 'house' if x > 2 else 
                                           'apartament' 
                                           if x==2 else 
                                           'studio' if x==1 else 'NA') 

#usando filtros

#df.loc[df['bedrooms']==1,'dormitory_type'] = 'studio'
#df.loc[df['bedrooms']==2, 'dormitory_type'] = 'apartament'
#df.loc[df['bedrooms']>2, 'dormitory_type'] = 'house'

## 3. Crie uma nova coluna chamada "condition_type"

se o valor da coluna 'condition' for menor ou igual à 2 = 'bad'
se o valor da coluna 'condition' for igual à 3 ou 4 = 'regular'
se o valor da coluna 'condition' igual à 5 = 'good'

In [14]:
#criar uma nova coluna 
# fazer um filtro
# fazer uma condição boleana. 

df['condition_type']= df['condition'].apply(lambda x: 'good' if x== 5 else 
                                            'regular' if x>=3 else 
                                            'bad' if x<=2 else 'NA')


#usando método com filtro
#df['condition_type']= 'type'

#df.loc[df['condition']<=2,'condition_type']='bad'
#df.loc[df['condition']>=3,'condition_type']='regular'
#df.loc[df['condition']==5,'condition_type']='good'

In [15]:
df['condition_type'].head()

0    regular
1    regular
2    regular
3       good
4    regular
Name: condition_type, dtype: object

## 4. Modifique o tipo a coluna 'condition' para string

In [23]:
df['condition']= df['condition'].astype(str)

df.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built                   int64
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

## 5.Delete a coluna "sqft_living15' e 'sqft_lot15'

In [24]:
df= df.drop(['sqft_living15','sqft_lot15'],axis=1)

KeyError: "['sqft_living15' 'sqft_lot15'] not found in axis"

## 6. Modifique o tipo a coluna 'yr_built' para date

In [25]:
df['yr_built']= pd.to_datetime(df['yr_built'])

## 7. Modifiqu o tipo a coluna 'yr_renovated' para date

In [26]:
df['yr_renovated']= pd.to_datetime(df['yr_renovated'])

## 8. Qual é data mais antiga da construção do imóvel?

In [27]:
## selecionar a coluna da construção
## ordenar as datas em ordem do menor para maior

df[['date','yr_built']].sort_values('yr_built',ascending=True).reset_index(drop=True).loc[0,'date']

Timestamp('2014-06-10 00:00:00')

## 9. Qual é data mais antiga da renovação de um imóvel?

In [14]:
df[['date','yr_renovated']].sort_values('yr_renovated',ascending=True).reset_index(drop=True).loc[0,'date']

Timestamp('2014-10-13 00:00:00')

## 10. Quantos imóveis tem 2 andares?

In [15]:
#selecionar a coluna dos andares
# fazer um filtro
# fazer uma condição boleana com o filtro
# contar os imoveis com esse perfil

len(df.loc[df['floors']==2,'floors'])

8241

## 11. Quantos imóveis estão com a condição igual à 'regular'?

In [16]:
# selecionar a coluna do tipo de condição (condition_type)
# fazer um filtro
# fazer uma condição boleana 
# contar a quantidade de imoveis com esse perfil

df.loc[df['condition_type']=='regular','condition_type'].size

19710

## 12. Quantos imóveis estão com condição igual à 'bad' e tem "vista para água"?

In [17]:
# selecionar as colunas condition_type e waterfront
# fazer um filtro com &
# fazer uma condição boleana
# contar (len/size)

df.loc[(df['condition_type']=='bad') & (df['waterfront']==1)].size

44

## 13. Quantos imóveis estão com condição igual á 'good' e são 'new_house'?

In [18]:
# selecionar as coluas condition_tye e house_age
# fazer um filtro com condição & e condição boleana
# contar (len/size)

df.loc[(df['condition_type']=='good') & (df['house_age']=='new_house')].size

37422

## 14. Qual é o valor do imóvel mais cara do tipo 'studio'?

In [19]:
# selecionar a coluna price e dormitory_type
# ordenar do maior preço para o menor

df[['price','dormitory_type']].sort_values('price',ascending=True).reset_index(drop=True).loc[0,'price']

75000.0

## 15. Quantos imóveis do tipo 'apartament' foram reformados em 2015?

In [20]:
# selecionar as colunas dormitory_type e  'yr_renovated'
# fazer um filtro
# contar (len/size)

df.loc[df['dormitory_type']=='apartament','yr_renovated'].size

2760

## 16. Qual é o mair número de quartos de um imóvel do tipo 'house' possui?

In [21]:
# selecionar a coluna bedrooms e dormitory_type
# fazer uma condição boleana 
# ordenar em ordem crescente / ou usar função max()


df.loc[df['dormitory_type']=='house','bedrooms'].max()

33

## 17. Quantos imóveis 'new_house' foram reformados em 2014?

In [22]:
# selecionar a coluna 'house_age'
# fazer uma condição boleana
# contar (len ou size)

df['ano']= df['date'].dt.year


df.loc[(df['ano']=='2014') & (df['house_age']=='new_house')].size

0

## 18.Selecione as colunas 'id', 'date','price','floors','zipcode', pelo método:

Direto pelo nomes das colunas;
Pelos índices;
Pelos índices das linhas e nomes da colunas;
Índices Booleanos.

In [23]:
#1 método
df_names= df[['id','date','price','floors','zipcode']]

In [24]:
#df_indice= df.iloc[:8]

df_indice= df_names.iloc[0:0,0:]

In [81]:
df_linha= df_names.iloc[0:,0:]

df_linha

               id       date     price  floors  zipcode
0      7129300520 2014-10-13  221900.0     1.0    98178
1      6414100192 2014-12-09  538000.0     2.0    98125
2      5631500400 2015-02-25  180000.0     1.0    98028
3      2487200875 2014-12-09  604000.0     1.0    98136
4      1954400510 2015-02-18  510000.0     1.0    98074
...           ...        ...       ...     ...      ...
21608   263000018 2014-05-21  360000.0     3.0    98103
21609  6600060120 2015-02-23  400000.0     2.0    98146
21610  1523300141 2014-06-23  402101.0     2.0    98144
21611   291310100 2015-01-16  400000.0     2.0    98027
21612  1523300157 2014-10-15  325000.0     2.0    98144

[21613 rows x 5 columns]

## 19. Salve um arquivo .csv somente com as colunas do item 10

In [25]:
#new_question= pd.to_csv('./new_question_house.csv')

## 20. Modifique a cor dos pontos do mapa de 'pink' para 'verde-escurto'

In [34]:
mapa= open('./mapa_house_rocket.html')