1. Qual a média do preço de compra dos
imóveis por “Nível”?
- Nível 0 -> Preço entre R$ 0 e R$
321.950
- Nível 1 -> Preço entre R$ 321.950 e
R$ 450.000
- Nível 2 -> Preço entre R$ 450.000 e
R$ 645.000
- Nível 3 -> Acima de R$ 645.000

2. Qual a média do tamanho da sala de
estar dos imóveis por “Size” ?
- Size 0 -> Tamanho entre 0 e 1427
sqft
- Size 1 -> Tamanho entre 1427 e 1910 sqft
- Size 2 -> Tamanho entre 1910 e
2550 sqft
- Size 3 -> Tamanho acima de 2550
sqft

3. Adicione as seguinte informações ao
conjunto de dados original:
- Place ID: Identificação da
localização
- OSM Type: Open Street Map type
- Country: Nome do País
- Country Code: Código do País

4. Adicione os seguinte filtros no Mapa:
- Tamanho mínimo da área da sala
de estar.
- Número mínimo de banheiros.
- Valor Máximo do Preço.
- Tamanho máximo da área do
porão.
- Filtro das Condições do Imóvel.
- Filtro por Ano de Construção.

5. Adicione os seguinte filtros no
Dashboard:

- Filtro por data disponível para
compra.
- Filtro por ano de renovação.
- Filtro se possui vista para a água
ou não.

In [1]:
import pandas as pd

Qual a média do preço de compra dos imóveis por “Nível”?
Nível 0 -> Preço entre R 0𝑒𝑅 
321.950

Nível 1 -> Preço entre R 321.950𝑒𝑅  450.000
Nível 2 -> Preço entre R 450.000𝑒𝑅  645.000
Nível 3 -> Acima de R$ 645.000

In [3]:
df = pd.read_csv('./kc_house_data.csv')

In [9]:
df.sample()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
9129,5700002510,20140611T000000,1085000.0,5,2.5,2340,6000,2.0,0,0,...,10,2340,0,1922,0,98144,47.5764,-122.287,2350,6000

In [10]:
df['nivel'] = df['price'].apply(lambda x: 0 if x< 321950 else 1 if (x>= 321950) & (x< 450000) else 
                                2 if (x>= 450000) & (x<645000) else 3)

In [20]:
df[['nivel','price']].groupby('nivel').mean().reset_index(drop=True)

           price
0  251544.621507
1  383585.205332
2  536164.422840
3  985008.983189

Qual a média do tamanho da sala de estar dos imóveis por “Size” ?
Size 0 -> Tamanho entre 0 e 1427 sqft
Size 1 -> Tamanho entre 1427 e 1910 sqft
Size 2 -> Tamanho entre 1910 e 2550 sqft
Size 3 -> Tamanho acima de 2550 sqft

In [21]:
df['size'] = df['sqft_living'].apply(lambda x: 0 if x< 1427 else 1 if (x>= 1427) & (x< 1910) else
                                    2 if (x>= 1910) & (x< 2550) else 3)