1. Qual a m√©dia do pre√ßo de compra dos
im√≥veis por ‚ÄúN√≠vel‚Äù?
- N√≠vel 0 -> Pre√ßo entre R$ 0 e R$
321.950
- N√≠vel 1 -> Pre√ßo entre R$ 321.950 e
R$ 450.000
- N√≠vel 2 -> Pre√ßo entre R$ 450.000 e
R$ 645.000
- N√≠vel 3 -> Acima de R$ 645.000

2. Qual a m√©dia do tamanho da sala de
estar dos im√≥veis por ‚ÄúSize‚Äù ?
- Size 0 -> Tamanho entre 0 e 1427
sqft
- Size 1 -> Tamanho entre 1427 e 1910 sqft
- Size 2 -> Tamanho entre 1910 e
2550 sqft
- Size 3 -> Tamanho acima de 2550
sqft

3. Adicione as seguinte informa√ß√µes ao
conjunto de dados original:
- Place ID: Identifica√ß√£o da
localiza√ß√£o
- OSM Type: Open Street Map type
- Country: Nome do Pa√≠s
- Country Code: C√≥digo do Pa√≠s

4. Adicione os seguinte filtros no Mapa:
- Tamanho m√≠nimo da √°rea da sala
de estar.
- N√∫mero m√≠nimo de banheiros.
- Valor M√°ximo do Pre√ßo.
- Tamanho m√°ximo da √°rea do
por√£o.
- Filtro das Condi√ß√µes do Im√≥vel.
- Filtro por Ano de Constru√ß√£o.

5. Adicione os seguinte filtros no
Dashboard:

- Filtro por data dispon√≠vel para
compra.
- Filtro por ano de renova√ß√£o.
- Filtro se possui vista para a √°gua
ou n√£o.

In [1]:
import pandas as pd
import ipywidgets as widgets
import matplotlib as plt
from matplotlib import gridspec
from ipywidgets import fixed
from matplotlib import pyplot as plt

Qual a m√©dia do pre√ßo de compra dos im√≥veis por ‚ÄúN√≠vel‚Äù?
N√≠vel 0 -> Pre√ßo entre R 0ùëíùëÖ 
321.950

N√≠vel 1 -> Pre√ßo entre R 321.950ùëíùëÖ  450.000
N√≠vel 2 -> Pre√ßo entre R 450.000ùëíùëÖ  645.000
N√≠vel 3 -> Acima de R$ 645.000

In [2]:
df = pd.read_csv('./kc_house_data.csv')

In [3]:
df['yr_renovated'].unique()

array([   0, 1991, 2002, 2010, 1999, 1992, 2013, 1994, 1978, 2005, 2008,
       2003, 1984, 1954, 2014, 2011, 1974, 1983, 1945, 1990, 1988, 1957,
       1977, 1981, 1995, 2000, 1998, 1970, 1989, 2004, 1986, 2009, 2007,
       1987, 1973, 2006, 1985, 2001, 1980, 1971, 1979, 1997, 1950, 1969,
       1948, 2015, 1968, 2012, 1963, 1951, 1993, 1962, 1996, 1972, 1953,
       1955, 1982, 1956, 1940, 1976, 1946, 1975, 1958, 1964, 1959, 1960,
       1967, 1965, 1934, 1944])

In [4]:
df.sample()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
19740,3630240140,20150123T000000,585000.0,4,3.0,2110,1286,2.0,0,0,...,9,1710,400,2007,0,98029,47.5444,-122.014,2000,1286

In [5]:
df['nivel'] = df['price'].apply(lambda x: 0 if x< 321950 else 1 if (x>= 321950) & (x< 450000) else 
                                2 if (x>= 450000) & (x<645000) else 3)

In [6]:
df[['nivel','price']].groupby('nivel').mean().reset_index(drop=True)

           price
0  251544.621507
1  383585.205332
2  536164.422840
3  985008.983189

Qual a m√©dia do tamanho da sala de estar dos im√≥veis por ‚ÄúSize‚Äù ?
Size 0 -> Tamanho entre 0 e 1427 sqft
Size 1 -> Tamanho entre 1427 e 1910 sqft
Size 2 -> Tamanho entre 1910 e 2550 sqft
Size 3 -> Tamanho acima de 2550 sqft

In [7]:
df['size'] = df['sqft_living'].apply(lambda x: 0 if x<= 1427 else 1 if (x> 1427) & (x<= 1910) else
                                    2 if (x> 1910) & (x<= 2550) else 3)


df[['size','sqft_living']].groupby('size').mean().reset_index(drop=True)

   sqft_living
0  1123.832531
1  1664.962334
2  2211.792786
3  3329.607016

Adicione as seguinte informa√ß√µes ao conjunto de dados original:
Place ID: Identifica√ß√£o da localiza√ß√£o
OSM Type: Open Street Map type
Country: Nome do Pa√≠s
Country Code: C√≥digo do Pa√≠s

In [3]:
df = pd.read_csv('./kc_house_data.csv')

#achar uma bibiotca que ache essas informa√ß√µes: No caso o geopy
from geopy.geocoders import Nominatim

#inicializando a requisi√ß√£o API

geolocator = Nominatim(user_agent= 'geoapiExercises') #porteiro


import time #library to control the time
from multiprocessing import Pool #pacote para fazer v√°rias tarefas ao mesmo tempo.(pool criar as tarefas)


df['query']= df[['lat','long']].apply(lambda x: str(x['lat']) + ',' + str(x['long']), axis=1)

In [42]:
def get_data (x):
    
    index,row = x
    time.sleep (1)
    
    #chamada api
    response = geolocator.reverse(raw['query'])
    
    try:
        place_id= response.raw['place_id']
        osm_type= response.raw['osm_type']
        country= response.raw['address']['country']
        country_code= response.raw['address']['country_code']
        
        return place_id,osm_type,country,country_code

SyntaxError: unexpected EOF while parsing (1228791383.py, line 16)

In [9]:
df = pd.read_csv('./kc_house_data.csv')

#achar uma bibiotca que ache essas informa√ß√µes: No caso o geopy
from geopy.geocoders import Nominatim

#inicializando a requisi√ß√£o API

geolocator = Nominatim(user_agent= 'geoapiExercises') #porteiro


import time #library to control the time
from multiprocessing import Pool #pacote para fazer v√°rias tarefas ao mesmo tempo.(pool criar as tarefas)


df['query']= df[['lat','long']].apply(lambda x: str(x['lat']) + ',' + str(x['long']), axis=1)

import defs

df1= df[['id','query']].head()

p= Pool (3)

start = time.process_time()

df1[['place_id','osm_type','country_code','country']]= p.map(defs.get_data, df1.iterrows())

end= time.process_time()

print('Time Elapsed {}', end-start)

In [8]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,query
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,"47.5112,-122.257"
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,"47.721,-122.319"
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,"47.7379,-122.233"
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,"47.5208,-122.393"
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,"47.6168,-122.045"

4. Adicione os seguinte filtros no Mapa: 
    Tamanho m√≠nimo da √°rea da sala de estar.
    N√∫mero m√≠nimo de banheiros.
    Valor M√°ximo do Pre√ßo.
    Tamanho m√°ximo da √°rea do por√£o.
    Filtro das Condi√ß√µes do Im√≥vel.
    Filtro por Ano de Constru√ß√£o

In [28]:
df.sample()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
13420,7236300065,20140718T000000,275000.0,3,1.5,1320,7695,1.0,0,0,...,7,1320,0,1959,0,98056,47.4908,-122.181,1370,8295

In [71]:
#carregando os dados
df= pd.read_csv('./kc_house_data.csv')


#conventendo os dados:

df['date']= pd.to_datetime(df['date'])

df['date']

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21608   2014-05-21
21609   2015-02-23
21610   2014-06-23
21611   2015-01-16
21612   2014-10-15
Name: date, Length: 21613, dtype: datetime64[ns]

In [3]:
df['yr_built']= pd.to_datetime(df['yr_built'],format= '%Y')

df['yr_built'].max()

Timestamp('2015-01-01 00:00:00')

In [9]:
sala= widgets.FloatSlider(
        value=7540,
        min=290,
        max=13540,
        step=10,
        description='Test:',
        disabled=False,
        continuous_update=False,
        orientation='horizontal',
        readout=True,
        readout_format='.1f',)
sala

FloatSlider(value=7540.0, continuous_update=False, description='Test:', max=13540.0, min=290.0, readout_format‚Ä¶

In [5]:
precos= widgets.BoundedIntText(
        value=754525,
        min=75000,
        max=7700000,
        step=500,
        description='Pre√ßos:',
        disabled=False)
precos

BoundedIntText(value=754525, description='Pre√ßos:', max=7700000, min=75000, step=500)

In [6]:
banheiros= widgets.IntSlider(
        value=4,
        min=0,
        max=8,
        step=1,
        description='Banheiros:',
        disabled=False,
        continuous_update=False,
        orientation='horizontal',
        readout=True,
        readout_format='d')

banheiros

IntSlider(value=4, continuous_update=False, description='Banheiros:', max=8)

In [10]:
construido= widgets.IntSlider(
            value=1965,
            min=1900,
            max=2015,
            step=1,
            description='Test:',
            disabled=False,
            continuous_update=False,
            orientation='vertical',
            readout=True,
            readout_format='d')
construido

IntSlider(value=1965, continuous_update=False, description='Test:', max=2015, min=1900, orientation='vertical'‚Ä¶

In [175]:
condicao= widgets.Dropdown(
        options=[('One',1), ('Two', 2), ('Three', 3),('Four', 4),('Five', 5)],
        value=3,
        description='Number:',)
condicao

Dropdown(description='Number:', index=2, options=(('One', 1), ('Two', 2), ('Three', 3), ('Four', 4), ('Five', ‚Ä¶

In [2]:
df= pd.read_csv('./kc_house_data.csv')

5. Adicione os seguinte filtros no Dashboard:
    Filtro por data dispon√≠vel para compra.
    Filtro por ano de renova√ß√£o.
    Filtro se possui vista para a √°gua ou n√£o.

In [3]:
df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')
df['ano'] = pd.to_datetime(df['date']).dt.strftime('%Y')
df['semana_ano']= pd.to_datetime(df['date']).dt.strftime('%Y-%U')

len(df['ano'])

21613

In [8]:
data_disponivel= widgets.SelectionSlider(options= df['date'].sort_values().unique().tolist(),
                     values= '2014-12-01',
                      description= 'Dispon√≠vel',
                      disable=False,
                      continuous_update=False,
                     orientation= 'horizontal',
                     readout=True)


def atualizar_dash(limit,df):
    
    df = df[df['date']>= limit].copy()
    
    fig = plt.figure(figsize=(24,12))

    spec= gridspec.GridSpec(nrows=2, ncols=2, figure=fig)

    ax1= fig.add_subplot(spec[0,:])
    ax2= fig.add_subplot(spec[1,0])
    ax3= fig.add_subplot(spec[1,1])

    anual=  df[['ano','id']].groupby('ano').sum().reset_index()
    ax1.bar(anual['ano'],anual['id'])

    diario= df[['date','id']].groupby('date').mean().reset_index()
    ax2.bar(diario['date'],diario['id'])

    ano_semana = df[['semana_ano','id']].groupby('semana_ano').mean().reset_index()
    ax3.plot(ano_semana['semana_ano'], ano_semana['semana_ano'])

    plt.xticks(rotation=60);

In [9]:
widgets.interactive(atualizar_dash, df=fixed(df),limit= data_disponivel)

interactive(children=(SelectionSlider(continuous_update=False, description='Dispon√≠vel', options=('2014-05-02'‚Ä¶

# Filtro por ano de renova√ß√£o

In [49]:
df['yr_renovated']= df['yr_renovated'].apply(lambda x: pd.to_datetime('1900-01-01', format= '%Y-%m-%d') if 0== x
                                            else pd.to_datetime(x, format= '%Y'))

r_year= pd.to_datetime(df['yr_renovated']).dt.strftime('%Y')
r_week= pd.to_datetime(df['yr_renovated']).dt.strftime('%Y-%U')
r_day = pd.to_datetime(df['yr_renovated']).dt.strftime('%Y--%m-%d')

In [51]:
r_week

0        1900-00
1        1991-00
2        1900-00
3        1900-00
4        1900-00
          ...
21608    1900-00
21609    1900-00
21610    1900-00
21611    1900-00
21612    1900-00
Name: yr_renovated, Length: 21613, dtype: object

array(['1900', '1991', '2002', '2010', '1999', '1992', '2013', '1994',
       '1978', '2005', '2008', '2003', '1984', '1954', '2014', '2011',
       '1974', '1983', '1945', '1990', '1988', '1957', '1977', '1981',
       '1995', '2000', '1998', '1970', '1989', '2004', '1986', '2009',
       '2007', '1987', '1973', '2006', '1985', '2001', '1980', '1971',
       '1979', '1997', '1950', '1969', '1948', '2015', '1968', '2012',
       '1963', '1951', '1993', '1962', '1996', '1972', '1953', '1955',
       '1982', '1956', '1940', '1976', '1946', '1975', '1958', '1964',
       '1959', '1960', '1967', '1965', '1934', '1944'], dtype=object)

In [73]:
#filtro de renovacao
df['foi_renovado'] = pd.to_datetime(df['yr_renovated']).dt.strftime('%Y')


#construindo o bot√£o
renovado= widgets.SelectionSlider(options= df['foi_renovado'].unique().tolist(),
                             values= '2000-01-01',
                              description= 'Data de Renova√ß√£o',
                              disable=False,
                              continuous_update=False,
                             orientation= 'vertical',
                             readout=True)

renovado

SelectionSlider(continuous_update=False, description='Data de Renova√ß√£o', options=('1970',), orientation='vert‚Ä¶

0        1900-00
1        1991-00
2        1900-00
3        1900-00
4        1900-00
          ...
21608    1900-00
21609    1900-00
21610    1900-00
21611    1900-00
21612    1900-00
Name: r_week, Length: 21613, dtype: object

In [162]:
#df['yr_renovated']= df['yr_renovated'].apply(lambda x: pd.to_datetime('1900-01-01', format= '%Y-%m-%d') if 0== x
                                            #else pd.to_datetime(x, format= '%Y'))
df= pd.read_csv('./kc_house_data.csv')

#filtro
df['foi_renovado']= df['yr_renovated'].apply(lambda x: pd.to_datetime('1900', format= '%Y') 
                                             if 0== x else pd.to_datetime(x, format= '%Y'))

df['r_year']= pd.to_datetime(df['yr_renovated'])
#df['r_week']= pd.to_datetime(df['yr_renovated']).dt.strftime('%Y-%U')
#df['r_day']= pd.to_datetime(df['yr_renovated']).dt.strftime('%Y--%m-%d')

#construindo o bot√£o
renovado= widgets.SelectionSlider(options= pd.to_datetime(df['foi_renovado'].sort_values().unique().tolist()),
                             values= '2000-01-01',
                              description= 'Data de Renova√ß√£o',
                              disable=False,
                              continuous_update=False,
                             orientation= 'vertical',
                             readout=True)


#fun√ß√£o de atualizar dash
def update_renovacao(reformado,df):
    
    #filtro
    df = df[df['foi_renovado']>= reformado].copy() 
    
    #criando dashboard:
    fig = plt.figure(figsize=(24,12))

    spec= gridspec.GridSpec(nrows=2, ncols=2, figure=fig)


    ax1= fig.add_subplot(spec[0,:])
    #ax2= fig.add_subplot(spec[1,0])
    #ax3= fig.add_subplot(spec[1,1])


    ano_renovacao= df[['r_year','id']].groupby('r_year').sum().reset_index()
    ax1.bar(ano_renovacao['r_year'],ano_renovacao['id'])

    #dia_renovacao= df[['r_day','id']].groupby('r_day').mean().reset_index()
    #ax2.bar(dia_renovacao['r_day'],dia_renovacao['id'])

    #semana_renovacao= df[['r_week','id']].groupby('r_week')
    #ax3.bar(semana_renovacao['r_week'],semana_renovacao['id'])

In [163]:
df['foi_renovado']

0       1900-01-01
1       1991-01-01
2       1900-01-01
3       1900-01-01
4       1900-01-01
           ...
21608   1900-01-01
21609   1900-01-01
21610   1900-01-01
21611   1900-01-01
21612   1900-01-01
Name: foi_renovado, Length: 21613, dtype: datetime64[ns]

In [164]:
widgets.interactive(update_renovacao,df=fixed(df), reformado=renovado)

interactive(children=(SelectionSlider(continuous_update=False, description='Data de Renova√ß√£o', options=(Times‚Ä¶

# Filtro se possui vista para a √°gua ou n√£o.

In [2]:
df= pd.read_csv('./kc_house_data.csv')

df.sample()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8321,2902200234,20141209T000000,525000.0,3,2.25,1290,1182,2.0,0,0,...,8,1000,290,2006,0,98102,47.637,-122.327,1300,1169

In [3]:
#criando os filtros

df['is_waterfront'] = df['waterfront'].apply( lambda x: 'Sim' if x==1 else 'N√£o' )

# criando o bot√£o:
com_vista= widgets.RadioButtons(
        options= df['is_waterfront'].unique().tolist(),
        value='N√£o', 
       layout={'width': 'max-content'}, # If the items' names are long
        description='C/Vista:',
        disabled=False)
com_vista

RadioButtons(description='C/Vista:', layout=Layout(width='max-content'), options=('N√£o', 'Sim'), value='N√£o')

In [6]:
#criando fun√ß√£o dash


def water_bar(df,waterfront):
    
    df= df[df['is_waterfront']== waterfront]

    #criado os specs
    fig = plt.figure(figsize=(24,12))

    spec= gridspec.GridSpec(nrows=1 , ncols=1, figure=fig)

    ax1= fig.add_subplot(spec[0,:])

    water_grafico = df[['waterfront','id']].groupby('waterfront').mean().reset_index()
    ax1.bar(water_grafico['waterfront'], water_grafico['id'])

In [7]:
widgets.interactive(water_bar,df=fixed(df),waterfront= com_vista)

interactive(children=(RadioButtons(description='C/Vista:', index=1, layout=Layout(width='max-content'), option‚Ä¶