# 0.0 IMPORTS

In [2]:
import pandas as pd

# 0.1 HELP FUNCTIONS

# 0.2 LOARDING DATE

In [26]:
df1= pd.read_csv('./kc_house_data.csv')

# 1.0 DESCRITION DATE

In [27]:
df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

# 1.1 DATE DIMENSION

In [31]:
print('Number of Rows {}'.format(df1.shape[0]))
print('Number of Columns {}'.format(df1.shape[1]))

Number of Rows 21613
Number of Columns 21

# 1.2 DATE TYPE

In [32]:
df1['date']= pd.to_datetime(df1.['date'])

SyntaxError: invalid syntax (1304709748.py, line 1)