# 0.0 QUESTIONS OF CEO

1. Quantas casas estão dísponíveis para venda?

2. Quantos atributos as casas posuem?

3. Quais são os atributos da casa?

4. Qual a casa mais cara? (Casa com maior valor de venda)

5. Qual é maior casa com maior número de quartos?

# 0.1 IMPORTS

In [2]:
import pandas as pd

# 0.1 HELP FUNCTIONS

# 0.2 LOARDING DATE

In [4]:
df1= pd.read_csv('./kc_house_data.csv')

# 1.0 DESCRITION DATE

In [5]:
df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

# 1.1 DATE DIMENSION

In [6]:
print('Number of Rows {}'.format(df1.shape[0]))
print('Number of Columns {}'.format(df1.shape[1]))

Number of Rows 21613
Number of Columns 21

# 1.2 DATE TYPE

In [8]:
df1['date']= pd.to_datetime(df1['date'])

# 1.3 Check NA

In [14]:
df1.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

# 1.5  Fillout NA

In [15]:
df1.sample(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
10943,3630060070,2014-10-21,472500.0,2,2.25,1700,2383,2.0,0,0,...,8,1700,0,2005,0,98029,47.547,-121.997,1700,2700

# RESPONSE QUESTION  CEO

### Quantas casas estão dísponíveis para venda?

In [24]:
df1.shape[0]

21613

### Quantos atributos as casas posuem?

In [28]:
df1.shape[1]

21

### Quais são os atributos das casas?

In [30]:
df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### Qual a casa mais cara? (Casa com maior valor de venda)

In [35]:
print('The house with price expense has value R$ {}'.format(df1['price'].max()))
      #rint('Number of Columns {}'.format(df1.shape[1]))

The house with price expense has value R$ 7700000.0