# 0.0 QUESTIONS OF CEO

###### 1. Quantas casas estão dísponíveis para venda?

2. Quantos atributos as casas posuem?

3. Quais são os atributos da casa?

4. Qual a casa mais cara? (Casa com maior valor de venda)

5. Qual é maior casa com maior número de quartos?

6. Qual é soma total de quartos do conjunto de dados?

7. Quantas casas possuem 2 banheiros?

8. Qual é o preço médio dos conjunto de dados?

9. Qual é o preço médio de casas com 2 banheiros?

10. Qual é preço mínimo entre as casas com 3 quartos?
         
11. Quantas casas possuem mais de 300M2 na sala de estar?

12. Quantas casas tem mais de 2 andares?

13. Quantas casas tem vista para o mar?

14. Das casas com vista para o mar, quantas casas tem mais de 3 quartos?

15. Das casas com mais de 300M2 de sala de estar, quantas banheiros tem?

16. Qual é a data do imóvel mais antigo no portifólio?

17. Quantos imóveis possuem o número máximo de andares?

18. Criar uma coluna de classificação dos imóveis, separando-os em alto e baixo padrão, de acordo com o preço.
- Acima de R$ 540.000-> Alto padrão
- Abaixo de R$ 540.000-> baixo padrão

- Gostaria de um relatório ordenado pelo preço e contendo as seguintes informações:
- id do imóvel;
- Data que o imóvel ficou disponível para compra;
- O número de quartos;
- O tamanho total do terreno;
- O preço;
- A classificação do imóvel (alto e baixo padrão)

# 0.1 IMPORTS

In [108]:
import pandas as pd
import numpy as np

# 0.1 HELP FUNCTIONS

# 0.2 LOARDING DATE

In [109]:
df1= pd.read_csv('./kc_house_data.csv')

# 1.0 DESCRITION DATE

In [110]:
df1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

# 1.1 DATE DIMENSION

In [111]:
print('Number of Rows {}'.format(df1.shape[0]))
print('Number of Columns {}'.format(df1.shape[1]))

Number of Rows 21613
Number of Columns 21

# 1.2 DATE TYPE

In [112]:
df1.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [136]:
df1['date']= pd.to_datetime(df1['date'])

# 1.3 Check NA

In [114]:
df1.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

# 1.5  Fillout NA

In [115]:
df1.sample(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
20538,2722069077,2015-04-09,430000.0,3,2.5,2075,39553,1.0,0,0,...,7,2075,0,2012,0,98038,47.3601,-122.032,1960,9047

# RESPONSE QUESTION  CEO

### 1. Quantas casas estão dísponíveis para venda?

In [116]:
# Estrategy: 
# 1.selecionar coluna de referência das
# 2.Contar a quantidade de casas

houses= len(df1['id'].unique())

print('O número de casas disponível para vendas são {}'.format(houses))

O número de casas disponível para vendas são 21436

###  2. Quantos atributos as casas posuem?

In [117]:
# As colunas id e date não são considerados neste notebook como atributos.

len(df1.drop(['id','date'],axis=1).columns)

19

### 3. Quais são os atributos das casas?

In [118]:
df1.drop(['id','date'],axis=1).columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 4. Qual a casa mais cara? (Casa com maior valor de venda)

In [119]:
## tenho que selecionar a referência da casa ('id') e selecionar coluna preço ('price')
# depois tenho que ordenar os valores do maior para o menor
# resertar as colunas para criar novos nomes nas linhas (reset_idex)
# filtrar achar o código(nome) da casa mais cara.

df1[['id','price']].sort_values('price',ascending=False).reset_index(drop=True).loc[0,'id']

6762700020

### 5. Qual é maior casa com maior número de quartos?

In [120]:
# selecionar coluna id (coluna de referência)
# selecionar coluna bedrooms (quartos)
# ordenar os números de quartos do maior para menor
# e fazer filtro da casa com maior número de quaartos.

quartos= df1[['id','bedrooms']].sort_values('bedrooms',ascending=False).reset_index(drop=True).loc[0,'id']

print('A casa com maior número de quartos é a {}'.format(quartos))

A casa com maior número de quartos é a 2402100895

### 6. Qual é soma total de quartos do conjunto de dados?

In [121]:
# selecionar a coluna dos quartos
#somar o número de quartos

df1['bedrooms'].sum()

72854

### 7. Quantas casas possuem 2 banheiros?

In [122]:
#fazer um filtro da casa com a coluna id e bathromms para saber quais casas contém 2 banheiros
# depois contar o número dec banheiros dessas casas c/ 2 banheiros.

houses= len(df1.loc[df1['bathrooms']==2,['id','bathrooms']])

print(' O número de casas com 2 banheiro é de {}'.format(houses))

 O número de casas com 2 banheiro é de 1930

### 8. Qual é o preço médio dos conjunto de dados?

In [123]:
#selecionar a coluna price
# usar uma função que faça a média

np.round(df1['price'].mean(),2)

540088.14

### 9. Qual é o preço médio de casas com 2 banheiros?

In [124]:
# fazer um filtro(loc) com as casas com 2 banheiros
# e usar função que faça média. 


np.round(df1.loc[df1['bathrooms']==2,['price']].mean(),2)

price    457889.72
dtype: float64


### 10. Qual é preço mínimo entre as casas com 3 quartos?

In [125]:
#1 fazer um filtro com as casas com 3 quartos
#2 ordenar com a função que ordena do menor para o maior
#3 e selecionar essa linha com menor preço

np.round(df1.loc[df1['bedrooms']==3].sort_values('price',ascending=True).reset_index(drop=True).loc[0,'price'],2)

82000.0

### 11. Quantas casas possuem mais de 300M2 na sala de estar?

In [126]:
# conventer área para M2 (pois nos dados estão pé quadrado
#fazer um filtro para saber as casas que tem acima de 300m2


df1['m2'] = df1['sqft_living']* 0.093
sala=len(df1.loc[df1['m2']>300,'id'])

print('O número de casas que contém sala de estar acima de 300M2 é de {}'.format(sala))

O número de casas que contém sala de estar acima de 300M2 é de 2258

###### 12. Quantas casas tem mais de 2 andares?

In [127]:
#fazer um filtro das casas acima de 2 andares
# e contar quantidade de casas que tem essa quantidade

len(df1.loc[df1['floors']>2,'id'])

782

### 13. Quantas casas tem vista para o mar?

In [128]:
#fazer um filtro das casas para saber quais tem vistas para o mar.
# e contar os números de linha deste filtro

len(df1.loc[df1['waterfront']>=1,'id'])

163

### 14. Das casas com vista para o mar, quantas casas tem mais de 3 quartos?

In [129]:
##1 fazer um filtro das casas com vistar para o mar
##2 fazer condição que essas tenha mais de 3 quartos
##3 contar a quantidade de casas que tenha essas caracteristicas.

len(df1.loc[(df1['waterfront']>=1) & (df1['bedrooms']==3),'id'])

64


### 15. Das casas com mais de 300M2 de sala de estar, quantas tem mais de 2 banheiros ?

In [130]:
## fazer um filtro com as casas com + 300m2 de sala de estar 
## fazer um filtro com as casas com 2 banheiros
## somar a quantidade de casas com esses perfis

len(df1.loc[(df1['m2']>300) & (df1['bathrooms']>2),'id'])

2201

### 16. Qual é a data do imóvel mais antigo no portifólio

In [131]:
## selecionar a coluna das data dos ímoveis
## ordenar as datas maior data para menor data
## filtrar o imóvel mais antigo


df1[['id','date']].sort_values('date',ascending=True).reset_index(drop=True).loc[0,'date']

Timestamp('2014-05-02 00:00:00')

### 17. Quantos imóveis possuem o número máximo de andares?

In [132]:
## selecionar o coluna dos andares
## verficar a quantidade de andares dos imóveis
## contar a quantidade de imovéis com esse perfil

df1['floors'].max() #verfica o  maior número máximo de andres

#contando o número de imóveis com esse perfil. 
len(df1.loc[df1['floors']==3.5])

8

### 18.Criar uma coluna com classificação dos imóveis, separando-os em alto e baixo padrão, de acordo com o preço

In [148]:
# criar uma nova coluna 
# atribuir uma variavel nesta coluna "padrão"
# fazer uma condição boleana (True e False) para classificar com os valor alto ou baixo


df1['level']= 'standard'

df1.loc[df1['price']>540000,'level']= 'high_level'
df1.loc[df1['price']<540000, 'level']= 'low_level'

### 19.  Relátorio dos imóveis solicitado

In [163]:
projeto_house= df1[['price','id','bedrooms','level','date','sqft_lot']].sort_values('price',ascending=False)

In [167]:
projeto_house.to_csv('./projeto_house.csv',index=False)