# Quais os imóveis que House Rocket deveriam comprar?
- coletador os dados no kangle
- agrupar por região (zipcode)
- Dentro de cada região, vou fazer a mediana dos preços dos imóveis
- E entao sugerir a compra dos imóveis que estão abaixo do valor dessa mediana e com boas condições de compra.

- Exemlo de Tabela:
    Imóvel Cód Região\ Preço do Imóvel \ Preço da Mediana \ Condição\ Status:
    328545            \ 450 mil         \ 500 mil         \ boa     \Compra
    48578              \625 mil          \ 500 mil        \boa     \ Não Compra
    58789              \358 mil           \ 485 mil       \Não      \Não Compra

In [183]:
import pandas as pd
import numpy as np

In [184]:
df = pd.read_csv('./kc_house_data.csv')

In [185]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [132]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [133]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [186]:
df['date'] = pd.to_datetime(df['date'])

In [135]:
x = df[['zipcode','price']]

In [136]:
#x['mediana'] = x.median(axis=1)

/tmp/ipykernel_2401/3398848082.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['mediana'] = x.median(axis=1)

In [137]:
#teste = x[['zipcode','mediana','price']].groupby('zipcode').median().reset_index()

In [215]:
data= df[['zipcode','price']].groupby('zipcode').median().reset_index()

In [228]:
df2= pd.merge(df,data, on=['zipcode','price'],how='inner',suffixes=('_x','_y'),copy=False)

In [229]:
df2.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,6414100671,2014-09-09,425000.0,3,1.75,2500,6840,1.0,0,0,...,8,1300,1200,1957,0,98125,47.7222,-122.320,1580,8691
1,2826049234,2015-01-14,425000.0,3,2.25,1820,8814,1.0,0,0,...,7,1280,540,1967,0,98125,47.7162,-122.309,1810,7515
2,8820902540,2014-11-14,425000.0,2,1.00,1670,6212,1.0,0,0,...,7,1670,0,1947,0,98125,47.7152,-122.282,1670,7272
3,1133000542,2014-08-05,425000.0,3,2.25,1670,9500,1.0,0,0,...,7,1170,500,1977,0,98125,47.7253,-122.309,1470,9500
4,8901000911,2015-02-19,425000.0,3,1.75,2120,5992,1.0,0,0,...,7,1060,1060,1947,0,98125,47.7083,-122.308,1840,11000

In [244]:
df2['mediana']= df2[['price','zipcode']].median()

In [245]:
df2

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,mediana
0,6414100671,2014-09-09,425000.0,3,1.75,2500,6840,1.0,0,0,...,1300,1200,1957,0,98125,47.7222,-122.320,1580,8691,NaN
1,2826049234,2015-01-14,425000.0,3,2.25,1820,8814,1.0,0,0,...,1280,540,1967,0,98125,47.7162,-122.309,1810,7515,NaN
2,8820902540,2014-11-14,425000.0,2,1.00,1670,6212,1.0,0,0,...,1670,0,1947,0,98125,47.7152,-122.282,1670,7272,NaN
3,1133000542,2014-08-05,425000.0,3,2.25,1670,9500,1.0,0,0,...,1170,500,1977,0,98125,47.7253,-122.309,1470,9500,NaN
4,8901000911,2015-02-19,425000.0,3,1.75,2120,5992,1.0,0,0,...,1060,1060,1947,0,98125,47.7083,-122.308,1840,11000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,9347300010,2015-05-01,342000.0,3,2.50,1960,3540,2.0,0,0,...,1960,0,2012,0,98038,47.3568,-122.055,1840,3825,NaN
145,2781240040,2014-08-06,342000.0,3,2.00,1640,4802,1.0,0,0,...,1640,0,2010,0,98038,47.3538,-122.021,1940,4802,NaN
146,3869900138,2015-02-23,489950.0,3,2.25,1590,926,3.0,0,0,...,1590,0,2014,0,98136,47.5402,-122.387,1640,1321,NaN
147,9532000010,2015-04-16,515000.0,3,2.50,2000,3837,2.0,0,0,...,2000,0,2011,0,98072,47.7713,-122.167,2210,4075,NaN
148,1959700225,2015-02-24,720000.0,3,1.75,1370,1990,3.0,0,0,...,1370,0,2014,0,98102,47.6434,-122.324,1730,1990,NaN

In [172]:
for i in range(len(df2)):
    if (df2.loc[i,'price']<= df2.loc[i,'mediana']):
        df2['status'] = 'Compra'
    else:
        df2['status']= 'Nao'

In [173]:
df2

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,mediana,status
0,6414100671,2014-09-09,425000.0,3,1.75,2500,6840,1.0,0,0,...,1200,1957,0,98125,47.7222,-122.320,1580,8691,261562.5,Nao
1,2826049234,2015-01-14,425000.0,3,2.25,1820,8814,1.0,0,0,...,540,1967,0,98125,47.7162,-122.309,1810,7515,261562.5,Nao
2,8820902540,2014-11-14,425000.0,2,1.00,1670,6212,1.0,0,0,...,0,1947,0,98125,47.7152,-122.282,1670,7272,261562.5,Nao
3,1133000542,2014-08-05,425000.0,3,2.25,1670,9500,1.0,0,0,...,500,1977,0,98125,47.7253,-122.309,1470,9500,261562.5,Nao
4,8901000911,2015-02-19,425000.0,3,1.75,2120,5992,1.0,0,0,...,1060,1947,0,98125,47.7083,-122.308,1840,11000,261562.5,Nao
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,9347300010,2015-05-01,342000.0,3,2.50,1960,3540,2.0,0,0,...,0,2012,0,98038,47.3568,-122.055,1840,3825,220019.0,Nao
145,2781240040,2014-08-06,342000.0,3,2.00,1640,4802,1.0,0,0,...,0,2010,0,98038,47.3538,-122.021,1940,4802,220019.0,Nao
146,3869900138,2015-02-23,489950.0,3,2.25,1590,926,3.0,0,0,...,0,2014,0,98136,47.5402,-122.387,1640,1321,294043.0,Nao
147,9532000010,2015-04-16,515000.0,3,2.50,2000,3837,2.0,0,0,...,0,2011,0,98072,47.7713,-122.167,2210,4075,306536.0,Nao
148,1959700225,2015-02-24,720000.0,3,1.75,1370,1990,3.0,0,0,...,0,2014,0,98102,47.6434,-122.324,1730,1990,409051.0,Nao

In [88]:
#média de preços das casas por endereço
# - coluna price e coluna zipcode
#comparar por condição e preço