# Quais os imóveis que House Rocket deveriam comprar?
- coletador os dados no kangle
- agrupar por região (zipcode)
- Dentro de cada região, vou fazer a mediana dos preços dos imóveis
- E entao sugerir a compra dos imóveis que estão abaixo do valor dessa mediana e com boas condições de compra.

- Exemlo de Tabela:
    Imóvel Cód Região\ Preço do Imóvel \ Preço da Mediana \ Condição\ Status:
    328545            \ 450 mil         \ 500 mil         \ boa     \Compra
    48578              \625 mil          \ 500 mil        \boa     \ Não Compra
    58789              \358 mil           \ 485 mil       \Não      \Não Compra

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./kc_house_data.csv')

In [61]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955-01-01,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951-01-01,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933-01-01,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965-01-01,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987-01-01,0,98074,47.6168,-122.045,1800,7503

In [4]:
# conventando em datetime as datas
df['date'] = pd.to_datetime(df['date'])

#df['yr_built'].pd.to_datetime(df['yr_built']).dt.strftime('%Y-%m-%d')
df['yr_built']= pd.to_datetime(df['yr_built'],format= '%Y')

df['price'].median()

450000.0

In [115]:
#df.loc[df1['waterfront']==1]

#houses= len(df.loc[df['waterfront']==0,['id','bathrooms']])

# H1: Imóveis que possuem vista para água, são 30% mais caros, na média.
# H2: Imóveis com data de construção menor que 1955, são 50% mais baratos, na média.
# H3: Imóveis sem porão possuem sqrt_lot, são 50%
# maiores do que com porão.
# H4: O crescimento do preço dos imóveis YoY ( Year over Year ) é de 10%
# H5: Imóveis com 3 banheiros tem um crescimento MoM

In [64]:
# estastiticas das hipoteses:
#waterfront , zipcode, yr_built, sqft_lot,date, bathrooms, bedrooms, price, floors
df_zipcode = df[['zipcode','id']].groupby('zipcode').count().reset_index()
df_waterfront = df[['waterfront','zipcode']].groupby('zipcode').median().reset_index()
df_price = df[['zipcode','price']].groupby('zipcode').median().reset_index()
df_yr_built= df[['zipcode','yr_built']].groupby('zipcode').median().reset_index()
df_sqft_lot = df[['zipcode','sqft_lot']].groupby('zipcode').median().reset_index()
df_bedrooms = df[['zipcode','bedrooms']].groupby('zipcode').median().reset_index()
df_bathrooms = df[['zipcode','bathrooms']].groupby('zipcode').median().reset_index()
df_floors = df[['zipcode','floors']].groupby('zipcode').median().reset_index()
df_sqft_basement = df[['zipcode','sqft_basement']].groupby('zipcode').median().reset_index()

df_sqft_basement.head()

   zipcode  sqft_basement
0    98001            0.0
1    98002            0.0
2    98003            0.0
3    98004            0.0
4    98005          305.0

In [65]:
# tabela de medianas
m1 = pd.merge(df_waterfront,df_price, on='zipcode', how='inner')
m2 = pd.merge(m1,df_yr_built,on='zipcode',how='inner')
m3 = pd.merge(m2,df_sqft_lot,on='zipcode', how='inner')
m4 = pd.merge(m3, df_bedrooms, on= 'zipcode', how='inner')
m5 = pd.merge(m4, df_bathrooms, on='zipcode', how='inner')
m6 = pd.merge(m5,df_zipcode,on='zipcode',how='inner')
m7 = pd.merge(m6,df_sqft_basement, on='zipcode',how='inner')
df1 = pd.merge(m7, df_floors, on='zipcode', how='inner')

df1.head(4)

,zipcode,waterfront,price,yr_built,sqft_lot,bedrooms,bathrooms,id,sqft_basement,floors
0,98001,0.0,260000.0,1981-01-01,9287.0,3.0,2.00,362,0.0,1.0
1,98002,0.0,235000.0,1966-01-01,7282.0,3.0,1.75,199,0.0,1.0
2,98003,0.0,267475.0,1975-01-01,8816.0,3.0,2.00,280,0.0,1.0
3,98004,0.0,1150000.0,1965-01-01,11119.0,4.0,2.50,317,0.0,1.0

In [66]:
#renomoeando as colunas
df1.columns=['ZIPCODE','IS_WATERFRONT','PRICE','YR_BUILT','SQFT_LOT','BEDROOMS','BATHROOMS','ID','BASEMENT','FLOORS']
df1.head(3)

#df1['ZIPCODE'].iloc[0]

,ZIPCODE,IS_WATERFRONT,PRICE,YR_BUILT,SQFT_LOT,BEDROOMS,BATHROOMS,ID,BASEMENT,FLOORS
0,98001,0.0,260000.0,1981-01-01,9287.0,3.0,2.00,362,0.0,1.0
1,98002,0.0,235000.0,1966-01-01,7282.0,3.0,1.75,199,0.0,1.0
2,98003,0.0,267475.0,1975-01-01,8816.0,3.0,2.00,280,0.0,1.0

In [8]:
#help function 

def acrescimo (valor,porcentagem):
    y = valor
    x = porcentagem /100
    valor_final = y + (valor * x)
    
    return valor_final

In [9]:
df1['PRICE'].median()

447975.0

In [10]:
#imoveis c/ vista para água são + caras em 30% na média

# MÉDIA DE PREÇOS DAS CASAS C/ VISTA P/ ÁGUA
# DEFINIDO O BASELINE - TEMOS QUE COMPARAR C/ O VALOR ESTIMADO
# COM ISSO TEREMOS A REPOSTA SE A HIPOTÉSE É VERDADEIRA OU FALSA:

baseline = df1['PRICE'].median() 

media_acrescida=  acrescimo(valor= baseline,porcentagem=30)

print(baseline)
print(media_acrescida)
#df1['MAIS_CARO']= df1['PRICE'].apply(lambda x: 'Verdadeiro' if (x>= baseline) & (df1.loc['IS_WATERFRONT']==0)  else 'Falso')

for i in range(len(df1)):
    if (df1.loc[i,'PRICE'] > media_acrescida) & (df1.loc[i,'IS_WATERFRONT']==1):
        df1.loc[i,'RESULTADO'] = 'sim'
    else:
        df1.loc[i,'RESULTADO']= 'não'

df1.head(4)

447975.0
582367.5

,ZIPCODE,IS_WATERFRONT,PRICE,YR_BUILT,SQFT_LOT,BEDROOMS,BATHROOMS,ID,FLOORS,RESULTADO
0,98001,0.0,260000.0,1981-01-01,9287.0,3.0,2.00,362,1.0,não
1,98002,0.0,235000.0,1966-01-01,7282.0,3.0,1.75,199,1.0,não
2,98003,0.0,267475.0,1975-01-01,8816.0,3.0,2.00,280,1.0,não
3,98004,0.0,1150000.0,1965-01-01,11119.0,4.0,2.50,317,1.0,não

In [60]:
no = len(df1.loc[df1['RESULTADO']=='não'])
yes= len(df1.loc[df1['RESULTADO']=='sim'])



print('A hipotéses de casas com vista para água ser um valor médio de 30% mais elevado é Falso.\n Pois dentro dessas condições há {}, contra {} que não contém vista para o mar'.format(no,yes))

A hipotéses de casas com vista para água ser um valor médio de 30% mais elevado é Falso.
 Pois dentro dessas condições há 70, contra 0 que não contém vista para o mar

In [123]:
#H2: Imóveis com data de construção menor que 1955, são 50% mais baratos, na média
# selecionar coluna mediana de construção (yr_built)
# saber o preço médiano dos imóveis desse perfil (fazer um filtro)
# fazer estrutura de repetição que compare essa condição do imóvel

In [38]:
antes = df1.loc[df1['YR_BUILT']<'1955',['YR_BUILT','PRICE']].median(numeric_only=True)

depois = df1.loc[df1['YR_BUILT']>'1955',['YR_BUILT','PRICE']].median(numeric_only=True)

print(depois /2)


#print(descontado)
#antes

PRICE    220000.0
dtype: float64

In [56]:
for i in range(len(df1)):
    if (df1.loc[i,'YR_BUILT']< pd.to_datetime('1955-01-01')) & (df1.loc[i,'PRICE']< 220000.0):
        df1.loc[i,'STATUS_PRECO'] = 'barato'
    else:
        df1.loc[i,'STATUS_PRECO'] = 'caro'

        
df1.head(4)

,ZIPCODE,IS_WATERFRONT,PRICE,YR_BUILT,SQFT_LOT,BEDROOMS,BATHROOMS,ID,FLOORS,RESULTADO,STATUS_PRECO
0,98001,0.0,260000.0,1981-01-01,9287.0,3.0,2.00,362,1.0,não,caro
1,98002,0.0,235000.0,1966-01-01,7282.0,3.0,1.75,199,1.0,não,caro
2,98003,0.0,267475.0,1975-01-01,8816.0,3.0,2.00,280,1.0,não,caro
3,98004,0.0,1150000.0,1965-01-01,11119.0,4.0,2.50,317,1.0,não,caro

In [59]:

after = len(df1.loc[df1['STATUS_PRECO']=='caro'])

before = len(df1.loc[df1['STATUS_PRECO']=='barato'])

print('A hipotese de casas construidas de 1955 com preço menor é invalida, pois \n há {} com esse perfil'.format(before))

A hipotese de casas construidas de 1955 com preço menor é invalida, pois
 há 0 com esse perfil

H3: Imóveis sem porão possuem sqrt_lot, são 50%¶
maiores do que com porão.